<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Press+Start+2P&family=Racing+Sans+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <!-- cdnjs assets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Bulma CSS library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />

  <!-- Bulma imports -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/mystyles.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

  <!-- Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/modalHandler.js"></script>
  <script type="text/javascript" src="/scripts/searchHandler.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <section class="section">
    <nav class="navbar is-fixed-top is-spaced has-shadow has-background-primary">
      <div class="navbar-start">
        <div class="navbar-brand">
          <p class="is-family-secondary is-link-light is-size-2 mx-2">
            PasswordKeepR
          </p>
          <div class="field is-grouped is-grouped-right mx-2">
            <p class="control">
              <button class="button js-modal-trigger is-medium is-warning is-rounded" id="create-new-button" data-target="new-password-modal" hidden>New Password</button>
            </p>
          </div>
          <!-- SEARCH BOX -->
          <div class="search-box mt-1 ml-2" hidden>
            <form id="search-form" method="POST">
              <div class="field has-addons">
                <p class="control has-icons-left has-icons-right">
                <input class="input is-rounded" type="text" name="website" placeholder="Search">
                <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                </p>
                <div class="control">
                <button class="button is-warning is-rounded" type="submit">
                Search
              </button>
            </div>

            </div>
            </form>
          </div>

        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-hoverable is-size-5">
          <label class="label has-text-white is-medium" id="login-email"></label>
          <button class="button js-modal-trigger" id="login-button" data-target="login-modal">Login</button>
        </div>
      </div>
    </nav>
  </section>



  <header class="m-2">
    <div class="navbar-item is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
      <div class="navbar-item icons-display">
        <div class="navbar-item">
          <div class="has-text-primary is-size-6 mx-2">
            Display Type:
          </div>
          <i class="fa-solid fa-folder mx-1 is-link-primary category-display display-active" data-target=""></i>
          <i class="fa-solid fa-table-cells-large mx-1 is-link-primary box-display" data-target="box-design-modal"></i>
          <i class="fa-solid fa-bars mx-1 is-link-primary list-display"></i>
        </div>
      </div>
  </header>

  <main>
    <section>
      <div class="category-container">

      </div>

      <div class="create-new-container">

      </div>
    </section>



    <!-- <footer class="navbar is-fixed-bottom is-dark ">
      <div class="navbar-start ">
        <div class="navbar-item ">
          Encryption: ON
        </div>
      </div>
      <div class="navbar-end ">
        <div class="navbar-item is-link-light">
          Help
        </div>
        <div class="navbar-item is-link-light">
          Privacy Policy
        </div>
      </div>
    </footer> -->
    <%- include('partials/_editPasswordModal'); -%>
      <%- include('partials/_newPasswordModal'); -%>
        <%- include('partials/_loginModal'); -%>
          <%- include('partials/_createNewCategory'); -%>
            <%- include('partials/_editCategory'); -%>
  </main>
</body>

</html>
